---
import Tip from "./icon/Tip.astro";

const variants = {
    right: 'px-8 py-6 max-w-[457px] self-end flex flex-col gap-y-6 relative bg-middle-purple hover:bg-dark-purple transition-colors duration-300 bg-review-grass bg-no-repeat rounded-r-[48px] rounded-b-[48px] group/review',
    left: 'px-8 py-6 max-w-[457px] ml-5 flex flex-col gap-y-6 relative bg-middle-purple hover:bg-dark-purple transition-colors duration-300 bg-review-grass bg-no-repeat rounded-r-[48px] rounded-b-[48px] group/review'
}

interface Props {
    variant?: keyof typeof variants;
    class?: string;
    name: string;
    content: string;
    picture: string;
    proffesion: string;
    rating: number;
}

const { variant = 'right', class:className, name, content, picture, proffesion, rating } = Astro.props;

const stars = Array(5).fill({});
---

<div class:list={ [variants[variant], className] } id="review">
    <Tip
        classList="absolute top-0 -left-[19.15px] transition-colors duration-300 text-middle-purple group-hover/review:text-dark-purple"
    />

    <p>
        {content}
    </p>
    <div class="flex justify-between items-center text-sm">
        <div class="flex items-center gap-x-4">
            <img
                src={picture}
                alt=""
                class="rounded-full shadow-[0_0_0_5px] shadow-dark-purple w-8 h-8"
            />
            <p>
                <span class="block">{name}</span>
                {proffesion}
            </p>
        </div>
        <div class="flex flex-col items-end">
            <p class="mb-[3px]">{rating}/5</p>
            <div id="stars" class="flex gap-1">
                {
                    stars.map((rate, i) => {
                        return rating > i ? (
                            <img
                                src="../../public/img/reviews/full-star.png"
                                alt="Full star"
                            />
                        ) : (
                            <img
                                src="../../public/img/reviews/empty-star.png"
                                alt="Empty star"
                            />
                        );
                    })
                }
            </div>
        </div>
    </div>
</div>

<!-- <script>

    const review = document.querySelector('#review')
    const rating = review.getAttribute('rating')
    const remainingStars = 5 - Number(rating)

    const starsContainer = document.querySelector('#stars')

    console.log(Astro)

     if(remainingStars <= rating) {
        for (let index = 0; index < rating; index++) {
            starsContainer.innerHTML += `<img src="../../public/img/reviews/full-star.png" alt="">`
        }
        for (let index = 0; index < remainingStars; index++) {
            starsContainer.innerHTML += `<img src="../../public/img/reviews/empty-star.png" alt="">`
        }
     }

</script> -->
